<h1>Login Page</h1>

<form action="/Home/Login" method="post">
<input type="text" name="username">User Name</input>
<input type="text" name="password">Password</input>
<button type="submit">Login</button>
</form>